.recipe {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(226, 81, 21);
}

.recipe:hover {
    background-color: #037EE9;
    cursor: pointer;
}

.recipe-img {
    width: 150px;
    border-radius: 50%;
}

.img-button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}