<app-header></app-header>

<h3 *ngFor="let recipe of recipes">
    <app-recipe [recipe]="recipe"></app-recipe>
</h3>
<div class="recipes-container">
    <label for="">Title:       </label>
    <input type="text" #t><br>
    <label for="">Products:    </label>
    <input type="text" #p><br>
    <label for="">Description: </label>
    <input type="text" #d><br>

    <button (click)="addRecipie(t.value, p.value, d.value)" class="btn btn-success">Add Recipe</button>
</div>
<app-footer></app-footer>