<app-header></app-header>
<div class="container row">
    <div class="well">
        <img class="recipe-img" src="{{(recipe | async)?.img}}" alt="reccipe-img">
        <h4>Title: {{(recipe | async)?.title}}</h4>
        <h4>Products: {{(recipe | async)?.products}}</h4>
        <h4>Description: {{(recipe | async)?.description}}</h4>
        <h4>{{(recipe | async)?.year}}</h4>
        <button type="button" class="btn"><strong>Add to Favourites</strong></button>
    </div>
</div>
<app-footer></app-footer>