<app-header></app-header>

<app-slider></app-slider>

<<div class="container text-center">
    <h3>Delicious Recipes</h3>
    <p>Angular</p>
    <p>We have created a fictional food SPA.</p>
</div>

<div class="latest-recipes row eq-height">
  <h3 class="col-sm-12">Enjoy Our Recipes</h3>
    <div *ngFor="let recipe of allRecipesReversed; let i=index" class="col-sm-12 col-md-3 eq-height" (click)="redirectToDetails(recipe?.key)">
      <div *ngIf="i<8" class="recipe-container"> <!-- shows only 8 recipes -->
        <img src="{{recipe.img}}" alt="recipe image">
        <p><strong>{{recipe.title}}</strong></p>
      </div>
    </div>
</div>

<app-footer></app-footer>