<footer class="text-center footer">
    <div class="row">
        <div>
            <small><strong>Author:</strong> <a href="https://github.com/Camyul/Angular2Project" target="_blank" id="author">The Tranquil Gazelles</a></small>
            <br>
            <small><strong>Members:</strong>
                <a href="https://github.com/Camyul" target="_blank">Иван Иванов</a>
                <a href="https://github.com/krisi0505" target="_blank">Кристина Илиева</a>
                <a href="https://github.com/EmilPD" target="_blank">Емил Димитров</a>
            </small>
            <br>
            <small><strong>&copy; 2017</strong></small>
        </div>
    </div>
</footer>